.img{
    width: 200px;
    height: 200px;
}
.white{
    background-color: white;
}
.card{
    display: flex;
    background-color: whitesmoke;
    color: black;
    border: 5px solid grey;
    margin: 10px 0px;
    border-radius: 20px;
    /* justify-content: space-around; */
}
.productdetailsec{
    margin: 0px auto;
    text-align: center;
    padding: 0px 40px;
}